fastapi
uvicorn
streamlit
nest_asyncio
coloredlogs
pydantic
langchain_core
langchain_community
ipython
requests
langchain_openai
langchain_experimental
pillow
langchain-huggingface
huggingface_hub
python-dotenv
langchain-astradb>=0.6,<0.7
open_clip_torch
torch
python-multipart>=0.0.6